/* Media screen */
@media screen and (min-width: 900px) {
    /* Media-queries -- Principais */
    body {
        margin: 1.5rem 5rem;
        background: linear-gradient(50deg, #162dac, #0060f0, #00039b);
        background-size: cover;

        font-family: "Roboto", sans-serif;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        text-align: center;

        border-radius: 10px;
    }

    .pokemons ol {
        grid-template-columns: repeat(2, 300px);
    }
    .pokemon {
        grid-template-columns: repeat(2, 75px);
    }
    .img-pokemon img {
        width: 80%;
        height: auto;
    }
    .pagina {
        margin: 0;
        text-align: center;
    }
    #bttMore,
    #bttMoreDatails {
        cursor: pointer;
    }
    #bttMore:hover {
        box-shadow: 10px 5px 5px inset #78c5f5;
    }#bttMoreDatails:hover {
        box-shadow: 10px 5px 5px inset #78c5f5;
    }


    /* Html - Parte de datalhes dos pokemons */
    /* Active-Tab-section */
    #tabActive {
        width: 90%;
        height: auto;
        background-color: white;

        gap: 1.5rem;
        display: grid;
        grid-template-columns: repeat(2, 300px);
        justify-content: center;
        border-radius: 10px;

    }

    #close {
        width: 5%;
        margin: 0.6rem;
        cursor: pointer;
        display: flex;
        justify-content: start;
    }
    /* botão--Voltar */
    .bttVoltar {
        margin: 0.5rem 0;
    }

    .bttVoltar a {
        padding: 0.2rem 0.7rem;

        background-color: rgba(119, 136, 153, 0.61);
        border-radius: 50px;
        box-shadow: 2px 2px 4px rgba(184, 184, 184, 0.842);
        color: white;
        text-decoration: none;
    }

    .tabGlobal {
        margin: 3rem 0;
        background: #49d0b0;
        border-radius: 10px;

        display: flex;
        flex-flow: column;
        justify-content: flex-end;
        border-radius: 10px;
    }

    .tab__represent {
        margin: 1rem;

        gap: 1.2rem;
        display: flex;
        flex-flow: column wrap;
    }

    .represent__denomination {
        margin: 1.5rem 0 0 0.4rem;

        display: inline-flex;
        justify-content: space-between;
    }

    .represent__status ul {
        gap: 1rem;
        display: flex;
        flex-flow: row nowrap;

        list-style: none;
    }

    .represent__status ul li {
        padding: 0.2rem 0.5rem;

        border-radius: 50px;
    }

    .represent__img img {
        width: 20%;
        height: auto;

        position: relative;
    }
    /* ABOUT */
    .tab-info {
        height: max-content;
        background: #f5f5f5;

        display: flex;
        flex-flow: column nowrap;
        justify-content: start;

        color: lightslategrey;
        border-radius: 55px 55px 0px 0px;
        text-align: start;
    }

    .info__text {
        margin: 1rem 0 2rem 0;
        text-align: center;
        color: black;
    }

    #infoCard {
        margin: 0 0rem 1rem 0.6rem;

        gap: 0.87rem;
        display: flex;
        flex-flow: column nowrap;

        list-style: none;
    }
}